@import "assets/sass/keyframes";
@import "assets/sass/mixins";

.task{
    position: relative;
    @include flex(row,nowrap,center,center);
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid black;
    .values{
        position: relative;
        @include flex(row,nowrap,flex-start,center);
        padding: 1.2rem;
        margin-right: 4.5rem;
        width: 100%;
        overflow: hidden;
        &__check{
            position: absolute;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
            display: block;
            &.vanishCheck{
                animation: vanishCheck 300ms forwards;
            }
            &.appearCheck{
                animation: appearCheck 300ms forwards;
            }
        }
        &__logo{
            display: block;
            position: absolute;
            width: 1rem;
            height: 1rem;
            &.vanishCheck{
                animation: vanishCheck 300ms forwards;
            }
            &.appearCheck{
                animation: appearCheck 300ms forwards;
            }
        }
        &__title{
            margin-left: 2rem;
            font-size: 1rem;
            &.check{
                text-decoration: line-through;
            }
        }
        &__input{
            margin-left: 2rem;
            width: 100%;
            font-size: 1rem;
            border: none;
            outline: none;
            color: #BE0032;
        }
    }
    .buttons{
        position: absolute;
        right: 0;
        &__button{
            margin-right: 0.5rem;
        }
    }
    .vanish{
        display: none;
    }
}