.task{
    position: relative;
    border-bottom: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    .values{
        position: relative;
        padding: 1.2rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        margin-right: 4.5rem;
        &__check{
            position: absolute;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
            display: block;
            &.desaparition{
                animation: vanish 150ms ease;
            }
            &.aparition{
                animation: sorprais 150ms ease;
            }
        }
        &__logo{
            position: absolute;
            width: 1rem;
            height: 1rem;
            display: block;
            &.desaparition{
                animation: vanish 150ms ease;
            }
            &.aparition{
                animation: sorprais 150ms ease;
            }
        }
        &__title{
            margin-left: 2rem;
            font-size: 1rem;
            &.check{
                text-decoration: line-through;
            }
            // &:hover{
            //     cursor: text;
            // }
        }
        &__input{
            margin-left: 2rem;
            font-size: 1rem;
            border: none;
            outline: none;
            width: 100%;
            color: #BE0032;
        }
    }
    .buttons{
        position: absolute;
        right: 0;
        &__button{
            margin-right: 0.5rem;
        }
    }
    .vanish{
        display: none;
    }
}

@keyframes vanish{
    0%{
        transform: rotate(0deg);
        width: 1rem;
        height: 1rem;
    }
    100%{
        transform: rotate(180deg);
        width: 0;
        height: 0;
    }
}
@keyframes sorprais{
    0%{
        transform: rotate(180deg);
        width: 0rem;
        height: 0rem;
    }
    100%{
        transform: rotate(0deg);
        width: 1rem;
        height: 1rem;
    }
}