.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__title{
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__register{
        margin-top: 1rem;
    }
}