.input{
    height: 2rem;
    width: 20rem;
    padding-left: 1rem;
    margin-bottom: .5rem;
    border: .5px solid #2196f3;
    outline: none;
}

@media (max-width: 25rem){
    .input{
        width: 80%;
    }
}