.register{
    text-align: center;
    &__title{
        padding: 2rem;
    }
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}