@import "assets/sass/mixins";
.register{
    @include flex(column, nowrap, center, center);
    max-width: 800px;
    margin: 0 auto;
    &__title{
        margin-bottom: 2rem;
    }
    &__form{
        @include flex(column, nowrap, flex-end, center);
    }
}