.user{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    &__name{
        margin-right: 0.5rem;
    }
}

@media (max-width: 450px){
    .user{
        order: 1;
        padding-bottom: 0;
    }
}