@import "assets/sass/mixins";
.listOfTask{
    @include flex(column, nowrap, center, center);
    width: 30rem;
    margin: 0 auto;
    .list{
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 1rem;
        &__li{
            list-style: none;
        }
    }
}
.noTasks{
    text-align: center;
}

@media (max-width: 530px){
    .listOfTask{
        width: 80%;
    }
}