@import "assets/sass/mixins";
@import "assets/sass/variables";
.spinner{
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border: 3px solid $blue;
  border-left-color: transparent;
  border-radius: 100%;
  animation: loading 1s linear infinite;
  &__min{
    width: 1rem;
    height: 1rem;
  }
}