.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    // &__text{
    //     color: white;
    // }
    &__img{
        margin-left: 1rem;
        width: 30px;
        height: 30px;
    }
}

// @media (max-width: 450px){
//     .logo{
//         order: 2;
//     }
// }

@media (max-width: 337px){
    .logo{
        padding: 1rem 0.5rem;
        &__text{
            font-size: 20px;
        }
        &__img{
            margin-left: 0.2rem;
            width: 20px;
            height: 20px;
        }
    }
}