.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    // &__text{
    //     color: white;
    // }
    &__img{
        margin-left: 1rem;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 450px){
    .logo{
        order: 2;
    }
}

@media (max-width: 250px){
    .logo{
        &__text{
            font-size: 25px;
        }
        &__img{
            width: 25px;
            height: 25px;
        }
    }
}