@import "assets/sass/mixins";
@import "assets/sass/variables";
.header{
    width: 100%;
    background-color: $gray;
    .header__nav{
        @include flex(row, nowrap, space-between, center);
        max-width: 800px;
        margin: 0 auto;
    }
}