@font-face {
    font-family: 'Bebas';
    font-display: swap;
    src: url('fonts/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'NetflixSans';
    font-display: swap;
    src: url('fonts/NetflixSansRegular.woff');
}
@font-face {
    font-family: 'NetflixSansBold';
    font-display: swap;
    src: url('fonts/NetflixSansBold.woff');
}